@model List<Post>
<div class="row">
    <div class="col-12">
        <h2>Post Listesi</h2>
        <a href="/users/create" class="btn btn-primary">New Post</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 200px;">Image</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th style="width: 125px">Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="mt-3">
                @foreach (var i in Model)
                {
                    <tr>
                        <td><img src="@Url.Content("~/img/" + i.Image)" alt="" class="img-fluid" style="height: 100px; width: 150px;"></td>
                        <td>@i.PostId</td>
                        <td>@i.Title</td>
                        <td>@i.IsActive</td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = i.PostId })" class="btn btn-sm btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", new { id = i.PostId })" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>