@model IEnumerable<Ogretmen>
    <h1>Öğretmen Listesi</h1>
    <a href="Ogretmen/Create" class="btn btn-primary">Öğretmen Ekle</a>
    <hr>
    <table class="table table-border">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=>m.OgretmenId)</th>
                <th>@Html.DisplayNameFor(m=>m.Ad)</th>
                <th>@Html.DisplayNameFor(m=>m.Soyad)</th>
                <th>@Html.DisplayNameFor(m=>m.Eposta)</th>
                <th>@Html.DisplayNameFor(m=>m.Telefon)</th>
                <th>@Html.DisplayNameFor(m=>m.BaslamaTarihi)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach( var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.OgretmenId)</td>
                <td>@Html.DisplayFor(modelItem=>item.Ad)</td>
                <td>@Html.DisplayFor(modelItem=>item.Soyad)</td>
                <td>@Html.DisplayFor(modelItem=>item.Eposta)</td>
                <td>@Html.DisplayFor(modelItem=>item.Telefon)</td>
                <td>@Html.DisplayFor(modelItem=>item.BaslamaTarihi)</td>
                <td>
                    <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@item.OgretmenId"
                        class="btn btn-sm btn-primary">Düzenle</a>
                    <a asp-controller="Ogretmen" asp-action="Delete" asp-route-id="@item.OgretmenId"
                        class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>