@model IEnumerable<KursKayit>
    <h2>Öğrenci Kurs Listesi</h2>
    <a class="btn btn-sm btn-primary mb-3" asp-controller="KursKayit" asp-action="Create">Kurs Ekle</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=>m.KayitId)</th>
                <th>@Html.DisplayNameFor(m=>m.Ogrenci.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m=>m.Kurs.KursBaslik)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KayitId)</td>
                <td>@Html.DisplayFor(modelItem => item.Ogrenci.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.Kurs.KursBaslik)</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OgrenciId"
                        class="btn btn-sm btn-primary">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>